:root{
    --primary: #404151; /* main background blue */
    --primary-text: #C6AFB2; /* Light pink text */

    --secondary: #9C8B8D; /* Medium pink fill */
    --secondary-text: #656779; /* Light blue text */
}

/* Overall -----------------------------------------*/

body {
    background-color: var(--primary);
}

/* navigation bar ----------------------------------*/
.bg-custom{
    background-color: var(--primary) !important;
    color: var(--primary-text);
}

.navbar-brand {
    height: 64px;
    width: 68px;
}

.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
} 