:root{
    --primary: #404151; /* main background blue */
    --primary-text: #C6AFB2; /* Light pink text */

    --secondary: #9C8B8D; /* Medium pink fill */
    --secondary-text: #656779; /* Light blue text */
}

/* Overall -----------------------------------------*/

body {
    background-color: var(--primary);
}

/* navigation bar ----------------------------------*/
.bg-custom{
    background-color: var(--primary) !important;
    color: var(--primary-text);
}

.navbar-brand {
    height: 64px;
    width: 68px;
}

.navbar.navbar-7 .navbar-toggler-icon {
    width: 75px;
    background-image: url('./MenuIcon.png');
}

/* Main Image --------------------------------------*/
.mainImg {
    position: relative;
    height: 91.5vh;
    background-image: url('./Smoke.png');
}

.mainImg img {
    position: absolute;
    height: 189px;
    width: 196px;
    left: 87.5vh;
    top: 23vh;
}

.mainImg h1 {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    width: 424px;
    height: 100px;
    top: 425px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 75px;
    line-height: 88px;

    background-color: var(--primary);
    background-image: linear-gradient(to bottom, var(--primary), var(--primary-text));
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.circle {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: 93vh;
}
.circle div {
    height: 323px;
    width: 323px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    padding: 100px;
    bottom: 100vh;
}