:root{
    --primary: #404151; /* main background blue */
    --primary-text: #C6AFB2; /* Light pink text */

    --secondary: #9C8B8D; /* Medium pink fill */
    --secondary-text: #656779; /* Light blue text */
}

/* Overall -----------------------------------------*/

body {
    background-color: var(--primary);
}

/* navigation bar ----------------------------------*/
.bg-custom{
    background-color: var(--primary) !important;
    color: var(--primary-text);
}

.navbar-brand {
    height: 64px;
    width: 68px;
}

.navbar.navbar-7 .navbar-toggler-icon {
    width: 75px;
    background-image: url('./MenuIcon.png');
}

/* Main Image --------------------------------------*/
.mainImg {
    height: 91.5vh;
    background-image: url('./Smoke.png');
    display: flex;
    justify-content: center;
}

.mainImg img {
    height: 189px;
    width: 196px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainImg h1 {
    position: absolute;
    width: 420px;
    height: 88px;
    text-align: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 75px;
    line-height: 88px;
}