:root{
    --primary: #393A4A; /* main background blue */
    --primary-text: #C6AFB2; /* Light pink text */

    --text: #755d60;

    --secondary: #9C8B8D; /* Medium pink fill */
    --secondary-text: #656779; /* Light blue text */
}

/* Overall -----------------------------------------*/

body {
    background-color: var(--primary);
}

/*responsive ---------------------------------------*/

@media only screen and (max-device-width: 500px){
    .nav-item{
        font-size: 75px;
    }

    .navbar {
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }

    .navbar-toggler-icon {
        border-top: 2rem;
    }

    .mainImg img {
        left: 400px;
        top: 15vh;
    }

    .mainImg h1 {
        padding-top: 300px;
        color:rgb(170, 143, 146);
    }

    .circle {
        height: 1000px;
        margin-top: 100px;
    }
    .circleItem.Three {
        margin: 0px;
    }

    .footer{
        font-size: 25px;
        text-align: center;
    }

    #gradient {
        height: 100vh;
    }

    #aboutMe {
        margin-left: 275px;
    }

    .thisIsMe {
        text-align: center;
        margin-left: 125px;
        font-size: 40px;
        height: 100vh;
    }
}
@media only screen and (min-device-width: 501px){
    .mainImg img {
        left: 90vh;
        top: 23vh;
    }

    .mainImg h1 {
        padding-top: 200px;
        background-image: linear-gradient(to bottom, var(--primary), rgb(185, 163, 163));
    }

    .circle {
        height: 100vh;
    }

    #gradient {
        height: 850px;
        width: 1920px;
    }

    #aboutMe {
        margin-left: 224px;
    }

    .thisIsMe {
        margin-left: 200px;
    }
}

/* navigation bar ----------------------------------*/
.nav-link {
    font-size: 30px;
    text-align: center;
}
.bg-custom{
    background-color: var(--primary)!important;
    color: var(--primary-text);
}

.navbar-brand {
    height: 64px;
    width: 68px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--primary-text);
}

.navbar-light .navbar-nav .active .nav-link{
    color: var(--secondary-text);
}

.navbar.navbar-7 .navbar-toggler-icon {
    width: 75px;
    background-image: url('./images/MenuIcon.png');
}

/* Footer ------------------------------------------*/
.footer{
    background-color: var(--primary);
    color: var(--primary-text);
    height: 90px;
}

#hr {
    margin-top: 0;
}

.footer p {
    margin-left: 20px;
}

.footer a {
    color:rgb(82, 58, 58);
    text-decoration: underline;
}

/* Main Image --------------------------------------*/
.mainImg {
    position: relative;
    height: 850px;
    background-image: url('./images/Smoke.png');
}

.mainImg img {
    position: absolute;
    margin-right: auto;
    height: 189px;
    width: 196px;
    right: 0px;
    bottom: 0px;
}


.mainImg h1 {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    width: 424px;
    top: 200px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 75px;
    line-height: 88px;

    background-color: var(--primary);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.circle {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.circleItem {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5vw;
    margin-right: 5vw;
}
.circles {
    height: 323px;
    width: 323px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    background-color: var(--secondary);
}

.circleItem h2 {

    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 50px;
    line-height: 59px;
    color: var(--primary-text);
}

#picofme {
    background-image: url(./images/PicOfMe.jpg);
    background-position: center;
    background-size: 350px;
}

#PortfolioPic {
    background-image: url(./images/PortfolioImg.jpg);
    background-position: left;
    background-size: 550px;
}

#contactme {
    background-image: url(./images/ContactImg.png);
    background-position: center;
    background-size: 900px;
}

/* About -----------------------------------------*/
#gradient {
    background-image: linear-gradient(to bottom right, #282838, #6a6d8d);
}

#aboutMe {
    float: left;
    display: block;
    max-height: 400px;
    max-width: 600px;
    margin-top: 200px;

    height: 430px;
    width: 430px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    background-color: var(--secondary);

    background-image: url(./images/PicOfMe.jpg);
    background-position: center;
    background-size: 500px;
}

.thisIsMe {
    float: left;
    color: var(--text);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    margin-top: 200px;
    width: 750px;
    height: 400px;
}

/* Portfolio grid */
.grid-container {
    background-image: linear-gradient(to bottom, #282838, #806265);
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.grid-item {
    width: 800px;
    height: 475px;
    color: #8d818b;
    align-items: center;
}

.grid-item.One{
    margin-top: 100px;
    color: #8d818b;
}

.grid-item h1, .grid-item p, .grid-item ul {
    margin-left: 300px;
}

.moreCircle {
    float: left;
    display: block;

    height: 250px;
    width: 250px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    background-color: var(--secondary);
}

.moreCircle.One{
    background-image: url(./images/wedding.png);
    background-position: center;
    background-size: 350px;
}
.moreCircle.Two{
    background-image: url(./images/meraki.png);
    background-position: center;
    background-size: 350px;
}
.moreCircle.Three{
    background-image: url(./images/byu.png);
    background-position: center;
    background-size: 350px;
}
/* Contact */
.gradient2 {
    background-image: linear-gradient(to bottom right, #282838, #6a6d8d);
}

.gradient2 h1 {
    text-align: center;
    padding-top: 224px;
    margin-bottom: 50px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 75px;
    line-height: 88px;

    background-color: rgb(170, 143, 146);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

#email, #phone {
    color: #755960;
    text-decoration: underline;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 88px;

    color: rgb(121, 95, 95);
}

#p1, #p2 {
    color: #755960;
    text-align: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    color: rgb(121, 95, 95);
}

#p2 {
    padding-bottom: 200px;
}