body {
    color: #9197a1;
    background-color: #090b12;
  }

.navbarList ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbarList li {
    float: left;
}

.navbarList li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 80px;
    text-decoration: none;
}

.navbarList li a:hover {
    background-color: #111;
}

h1 {
    
    font-size: 36px;
    font-family: Impact, sans-serif;
    text-align: center;
    display: block;
}

h2 {
    font-size: 28px;
    font-family: sans-serif;
}

p, ul, ol, a {
    font-family: sans-serif;
    color: #9197a1
}

ul{
    list-style-type: circle;
}

div {
    background-color: #2f3847;

    width: 500px;
    box-sizing: border-box;
    margin: 20px auto;
    padding: 20px;
    border-radius: 25px;
}

.projects li {
    padding: 10px;
}

.experience li {
    padding: 10px;
}

.contact li {
    padding: 10px;
}