body {
    color: #9197a1;
    background-color: #2f3847;
  }

h1 {
    font-size: 36px;
    font-family: Impact, sans-serif;
}

h2 {
    font-size: 28px;
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

ul{
    list-style-type: circle;
}
