body {
    color: #9197a1;
    background-color: #090b12;
  }

h1 {
    font-size: 36px;
    font-family: Impact, sans-serif;
    text-align: center;
}

h2 {
    font-size: 28px;
    font-family: sans-serif;
}

p, ul, ol, a {
    font-family: sans-serif;
}

ul{
    list-style-type: circle;
}

div {
    background-color: #2f3847;

    width: 500px;
    box-sizing: border-box;
    margin: 20px auto;
    padding: 20px auto;
}
