body {
    color: #9197a1;
    background-color: #090b12;
}

@media only screen and (min-device-width: 401px) {
/* Add a black background color to the top navigation */
    .topnav {
        background-color: #cfb2b2;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
    }

    #home {
        float: left;
    }
    /* Style the links inside the navigation bar */
    .topnav a {
        float: right;
        display: block;
        color: #2f3847;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Add an active class to highlight the current page */
    .topnav a.active {
        background-color: #2f3847;
        color: white;
    }

    /* Hide the link that should open and close the topnav on small screens */
    .topnav .icon {
        display: none;
    }
}

@media only screen and (max-device-width: 400px) {
    /* Add a black background color to the top navigation */
    .topnav {
        background-color: #cfb2b2;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        height: 20px;
    }

    .menu div{
        width: 35px;
        height: 5px;
        background-color: #2f3847;
        margin: 6px 0;
    }

    #theMenu {
        float: right;
        padding-right: 20px;
        padding-top: 3px;
    }

    #home {
        float: left;
    }

    #links {
        display: none;
    }
    /* Style the links inside the navigation bar */
    .topnav a {
        color: #2f3847;
        display: block;
        /*text-align: center;*/
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Add an active class to highlight the current page */
    .topnav a.active {
        background-color: #2f3847;
        color: white;
    }

    /* Hide the link that should open and close the topnav on small screens */
    .topnav a.icon {
        display: block;
        background: #2f3847;
        position: absolute;
        right: 0;
        top: 0;
    }
}

h1 {
    padding-top: 50px;
    font-size: 36px;
    font-family: Impact, sans-serif;
    text-align: center;
    display: block;
}

h2 {
    font-size: 28px;
    font-family: sans-serif;
}

p, ul, ol, a {
    font-family: sans-serif;
    color: #9197a1
}

.about {
    background-color: #2f3847;

    width: 500px;
    box-sizing: border-box;
    margin: 20px auto;
    padding: 20px;
    border-radius: 25px;
}

.imagesOfMe {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

#DevsWedding {
    max-height: 250px;
    max-width: 250px;
    width: 250px;
    height: 250px;
    margin: 10px;
}

#Camera {
    max-height: 250px;
    max-width: 250px;
    width: 250px;
    height: 250px;
    margin: 10px;
}
#Mav {
    max-height: 250px;
    max-width: 250px;
    width: 250px;
    height: 250px;
    margin: 10px;
}

.projects {
    background-color: #2f3847;

    width: 500px;
    box-sizing: border-box;
    margin: 20px auto;
    padding: 20px;
    border-radius: 25px;
}

.experience {
    background-color: #2f3847;

    width: 500px;
    box-sizing: border-box;
    margin: 20px auto;
    padding: 20px;
    border-radius: 25px;
}

.contact {
    background-color: #2f3847;

    width: 500px;
    box-sizing: border-box;
    margin: 20px auto;
    padding: 20px;
    border-radius: 25px;
}

.projects li {
    padding: 10px;
}

.experience li {
    padding: 10px;
}

.contact li {
    padding: 10px;
}