body{
    background-color: rgb(38, 36, 58);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media only screen and (max-device-width: 500px){
    .header{
        height: 150px;
        font-size: 30px;
    }
    .header h1 {
        margin-top: 50px;
    }
    .theForm{
        margin-top: 300px;
    }
    .theForm label {
        font-size: 40px;
    }
    #weatherInput{
        width: 50%;
    }
}

@media only screen and (min-device-width: 501px){
    .header{
        height: 100px;
        font-size: 20px;
    }
    .theForm{
        margin-top: 200px;
    }
    .theForm label {
        font-size: 20px;
    }
    #weatherInput{
        width: 30%;
    }
}

/* topbar */
.header {
    text-align: center;
    width: 100vw;
    background-color: rgb(25, 24, 37);
    position: fixed;
    top: 0;
    left: 0;
}

/* the form input field */
.theForm{
    display: block;
    text-align: center;
}

.theForm label {
    display:block;
    padding: 10px;
}

#weatherInput {
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    padding-left: 8px;
}

#weatherSubmit {
    width: 30%;
    background-color: #6f6f86;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 8px;
}

/* the current weather results */
.currentWeather {
    display: block;
    text-align: center;
    border-radius: 25px;
    width: 50%;
    margin: auto;
    margin-top: 50px;
}

#weatherResults {
    display: inline-block;
    background-color: #6f6f86;
    text-align: center;
    border-radius: 25px;
    width: 50%;
}

/* forcast grid */

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.grid {
    width: 1800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.grid-item {
    width: 175px;
    height: 290px;
    align-items: center;
    background-color: #6f6f86;
    border-radius: 25px;
    text-align: center;
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.grid-item h2 {
    font-size: 20px;
}

/* footer */
.footer{
    font-size: 20px;
    text-align: center;
    display: block;
    bottom: 0;
    width: 100%;
}
