/* navbar */
nav{
    background-color: black;
    font-size: 25px;
    text-align: center;
}

.theNav h1{
    background-image: linear-gradient(to right, rgb(194, 122, 136), rgb(253, 225, 173));
    /* color: red;
    background:rgb(255, 217, 146); */
    -webkit-text-fill-color: transparent;
    background-clip: content-box;
    -webkit-background-clip: text;
}

/* Body */
body{
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* colour generator */
.generator{
    color: white;
}

.generator h2 {
    text-align: center;
}

#getButton {
    
}