/* navbar */
nav{
    background-color: black;
    font-size: 25px;
    text-align: center;
}

.theNav h1{
    background-image: linear-gradient(to right, red, orange, rgb(252, 252, 190), rgb(255, 0, 212), rgb(170, 170, 238), indigo, purple);
    /* color: red;
    background:rgb(255, 217, 146); */
    -webkit-text-fill-color: transparent;
    background-clip: content-box;
    -webkit-background-clip: text;
}
hr{
    color: white;
}

/* Body */
body{
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* colour generator */

.generator{
    margin-top: 50px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#getButton {
    position: absolute;
    margin-left: 285px;
    width: 1200px;
    height: 50px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grid {
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.colour{
    width: 300px;
    height: 300px;
    align-items: center;
}

.colour.One{
    background-color: aquamarine;
}
.colour.Two{
    background-color: rgb(127, 229, 255);
}
.colour.Three{
    background-color: rgb(127, 172, 255);
}
.colour.Four{
    background-color: rgb(129, 127, 255);
}

/* Converter */
.converter h2{
    color: white;
    text-align: center;
    margin-top: 200px;
}

.converter.rbgToHex{
    height: 300px;
    border-radius: 25%;
}
.converter.hexToRbg{
    height: 300px;
    border-radius: 25%;
}