@media only screen and (max-device-width: 500px){
    nav{
        font-size: 40px;
    }
    #navbarNav{
        padding-top: 20px;
    }
    #generateButton{
        position: absolute;
        margin-left: 18.5%;
        width: 600px;
        height: 100px;
        font-size: 30px;
    }
    .grid {
        width: 800px;
    }
    h2{
        font-size: 40px;
    }
    #rToH, #hToR{
        height: 500px;
        width: 500px;
    }
}
@media only screen and (min-device-width: 501px){
    nav{
        font-size: 25px;
    }
    #generateButton{
        position: absolute;
        margin-left: 285px;
        width: 1200px;
        height: 50px;
        font-size: 20px;
    }
    .grid {
        width: 1200px;
    }
    #rToH, #hToR{
        height: 300px;
        width: 300px;
    }
}
/* navbar */
nav{
    background-color: black;
    text-align: center;
}

.theNav h1{
    background-image: linear-gradient(to right, red, orange, rgb(252, 252, 190), rgb(255, 0, 212), rgb(170, 170, 238), indigo, purple);
    /* color: red;
    background:rgb(255, 217, 146); */
    -webkit-text-fill-color: transparent;
    background-clip: content-box;
    -webkit-background-clip: text;
}
hr{
    color: rgb(255, 255, 255);
}

/* Body */
body{
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* colour generator */

#generator{
    margin-top: 50px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#generateButton {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.colour{
    width: 300px;
    height: 300px;
    align-items: center;
    text-align: center;
}

.colour p{
    margin-top: 250px;
    font-size: 20px;
    color: white;
}

/* .colour.One{
    background-color: aquamarine;
}
.colour.Two{
    background-color: rgb(127, 229, 255);
}
.colour.Three{
    background-color: rgb(127, 172, 255);
}
.colour.Four{
    background-color: rgb(129, 127, 255);
} */

/* Converter */
h2{
    color: white;
    text-align: center;
    margin-top: 200px;
}

#rToH{
    border-radius: 25%;
    background-color: white;
}
#hToR{
    height: 300px;
    width: 300px;
    border-radius: 25%;
    background-color: white;
}

.converter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    width: 350px;
    height: 350px;
    align-items: center;
    text-align: center;
}

.item.rgbToHex h3, form{
    margin-top: 50px;
}

.item.hexToRgb h3{
    margin-top: 50px;
}

#value {
    margin-top:50px;
}

/* Footer */
#footer {
    color: white;
    margin: 20px;
    text-align: center;
}

a{
    background-image: linear-gradient(to right,rgb(223, 205, 173), rgb(252, 252, 190), rgb(255, 0, 212), rgb(170, 170, 238), rgb(82, 52, 104));
    -webkit-text-fill-color: transparent;
    background-clip: content-box;
    -webkit-background-clip: text;
}